<div class="form-v5-content">
    <form class="form-detail" action="http://localhost:3000/login" method="post">
        <h2>LOGIN</h2>
        <div class="form-row">
            <label for="your-email"></label>
            <input type="text" name="email" id="email" class="input-text" placeholder="Your Email" required
                pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
        </div>
        <div class="form-row">
            <label for="password"> </label>
            <input type="password" name="password" id="password" class="input-text" placeholder="Your Password"
                required>
        </div>
        <div class="form-row-last">
            <input type="submit" name="login" class="register" value="Login">
        </div>
    </form>
</div>