<div class="form-v5-content">
    <form class="form-detail" action="http://localhost:3000/verify" method="post">
        <h2>Enter OTP Code</h2>
        <input type="number" name="otp" id="otp" class="input-text" value="number" required  />
        <div class="form-row-last">
            <input type="submit" name="submit" class="register" value="Verify">
        </div>
    </form>
</div>